.idea/
__pycache__/
connection/__pycache__/
pose_estimation/__pycache__/
# virtualenv setting
pose_estimation/MobileHumanPose/venv_3DMPPE

# output result
pose_estimation/MobileHumanPose/output

# demo output
pose_estimation/MobileHumanPose/demo/*.pth.tar

# byte-compiled
/__pycache_/
pose_estimation/MobileHumanPose/*/__pycache/*
pose_estimation/MobileHumanPose/*/*/__pycache/
pose_estimation/MobileHumanPose/*/*/*/__pycache/
pose_estimation/MobileHumanPose/*.py[cod]
pose_estimation/MobileHumanPose/*.pyc

# nohup process
pose_estimation/MobileHumanPose/*.out

# idea
.DS_Store
.idea

# pretrained weight
human_detection/weights/*.ckpt
human_detection/weights/*.pth

# ipython checkpoints
.ipynb_checkpoints
